* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  margin: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:first-child {
  margin-top: 0px;
}
h3 {
  margin-bottom: 30px;
}
small {
  padding: 0 0.75rem;
}
ul {
  margin: 0;
  list-style: none;
}
ol {
  margin: 0;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Start Task List */
.task-list {
  width: 10%;
}
/* Start Task */
.task {
  width: 90%;
}
.task .content {
  display: none;
}
.task .content:target {
  display: flex;
}
.three-blocks-mind-map {
  justify-content: start;
}
.three-blocks-mind-map div {
  margin-bottom: 5px;
}
.three-blocks-mind-map span {
  color: #007bff;
  font-size: 1.25rem;
  font-weight: bolder;
}
#perimeter-area-of-rectangle {
  height: auto;
}
